<h1>ユーザー情報</h1>

<p>ニックネーム:<%= @user.nickname %></p>

<%= link_to 'ユーザーの編集', edit_user_registration_path(current_user.id) %>
<h2>このユーザーが書いたレビュー一覧</h2>
<div class="row w-100 bg-light ">
<% @user.reviews.each do |review| %>
  <div class="col-3 mt-5 mb-5">
  <%= link_to (image_tag(review.book.image)), review.book.url %></p>
  <p><%= review.book.title %></p>
    <% review.ratings.each do |rating| %>
    <p><%= Category.find(rating.category_id).name %></p>
    <div class="rating_point" data-score="<%= rating.point %>"></div>
    <script>
      $('.rating_point').empty();
      $('.rating_point').raty({
        size :36,
        starHalf: '<%= asset_path('star-half.png') %>',
        starOff: '<%= asset_path('star-off.png') %>',
        starOn: '<%= asset_path('star-on.png') %>',
        half: true,
        readOnly: true,
        score: function() {
          return $(this).attr('data-score');
        },
      });
    </script>
  <% end %>
  <p><%= review.title %></p>
  <p class="text-break"><%= truncate(review.content, length: 20)%></p>
  <p><%= link_to '本の詳細', book_path(review.book.id) %></p>
  </div>
<% end %>
</div>
