<p><%= notice %></p>

<h1>本の詳細</h1>
<div class="">
  <div class="">
    <%= link_to (image_tag @book.image,width:'20%'), @book.url%>
    <div class="">
    <%= link_to '本のリンク', @book.url, class:"btn btn-danger" %>

    <div class="">
      <% if @favorite.present? %>
        <%= render 'unfavorite' %>
      <% else %>
        <%= render 'favorite' %>
      <% end %>
    </div>
    </div>
  </div>
  <div class="">
    <p class=""><%= @book.title %></p>
    <p class=""><%= @book.author %></p>
    <p class=""><%= @book.publisher_name %></p>
  </div>
</div>
<div class="">
  <% @book.reviews.each do |review| %>
    <h3 class=""><%= review.title %></h3>
    <p class="">ニックネーム:<%= review.user.nickname %></p>
    <% review.ratings.each do |rating| %>
      <% if rating.category_id.present? %>
        <p class=""><%= Category.find(rating.category_id).name %></p>
      <% end %>
      <div class="">
        <div class="rating_point">
          <%= rating.point %>
        </div>
      </div>
      <script>
        $('.rating_point').empty();
        $('.rating_point').raty({
          size :36,
          starHalf: '<%= asset_path('star-half.png') %>',
          starOff: '<%= asset_path('star-off.png') %>',
          starOn: '<%= asset_path('star-on.png') %>',
          half: true,
          readOnly: true,
          score: <%= rating.point %>
        });
      </script>
    <% end %>
  <p class=""><%= review.content %></p>
  <% @like = review.likes.find_by(user: current_user) %>
  <% if @like.present? %>
    <p class=""><%= render 'unlike' %></p>
  <% else %>
    <p class=""><%= render 'like',review: review %></p>
  <% end %>
    <% if current_user.id == review.user_id %>
      <%= link_to 'レビューを編集', edit_book_review_path(review.id,book_id: @book.id), class:"col-12 btn btn-warning" %>
    <% end %>
  <% end %>
</div>

<% unless current_user.id == @book.reviews.find_by(user_id: current_user.id)&.user_id %>
  <%= link_to 'レビューを作成', new_book_review_path(@book.id,isbn: @book.isbn), class:'btn btn-dark' %>
<% end %>
