<p><%= notice %></p>

<h1>本の詳細</h1>

<%= link_to (image_tag(@book.image)), @book.url %>
  <p><%= link_to '本のリンク', @book.url %></p>
    <% if @favorite.present? %>
      <%= render 'unfavorite' %>
    <% else %>
      <%= render 'favorite' %>
    <% end %>
  <p><%= @book.title %></p>
  <p><%= @book.author %></p>
  <p><%= @book.publisher_name %></p>
<h2>本のレビュー</h2>

  <% @book.reviews.each do |review| %>
    <p>ニックネーム:<%= review.user.nickname %></p>
    <% review.ratings.each do |rating| %>
      <p><%= Category.find(rating.category_id).name %></p>
      <div class="rating_point">
        <%= rating.point %>
      </div>
      <script>
        $('.rating_point').empty();
        $('.rating_point').raty({
          size :36,
          starHalf: '<%= asset_path('star-half.png') %>',
          starOff: '<%= asset_path('star-off.png') %>',
          starOn: '<%= asset_path('star-on.png') %>',
          half: true,
          readOnly: true,
          score: <%= rating.point %>
        });
      </script>
    <% end %>
  <h3><%= review.title %></h3>
  <%= review.content %></p>
  <% @like = review.likes.find_by(user: current_user) %>
  <% if @like.present? %>
    <p><%= render 'unlike' %></p>
  <% else %>
    <%= render 'like',review: review %>
  <% end %>
  <% if current_user.id == review.user_id %>
    <%= link_to 'レビューを編集', edit_book_review_path(review.id,book_id: @book.id) %>
  <% end %>
<% end %>



<%= link_to 'レビューを作成', new_book_review_path(@book.id,isbn: @book.isbn) %>
