<div class="container w-100">
  <div class="row justify-content-center">
    <h2 class="col-12 text-center">unhappy_books</h2>



    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="mx-auto">
      <%= f.label :email, class:"text-center" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"text-center" %>
    </div>

    <div class="justify-content-center">
      <%= f.label :password,class:"text-center"%><br />
      <%= f.password_field :password, autocomplete: "current-password",class:"text-center" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="text-center">
        <%= f.check_box :remember_me,class:"text-center" %>
        <%= f.label :remember_me, class:"text-center" %>
    </div>
    <% end %>

    <div class="actions">
      <%= f.submit t('.sign_in') %>
    </div>
    <%= render "devise/shared/links" %>
  </div>
<% end %>


</div>
