<div class=".search-box">
  <%= form_with url: book_searches_path, method: :get, local: true do |f| %>
      <%= f.text_field :keyword, placeholder: 'キーワードを入力', class:"row col-5" %>
      <%= f.hidden_field :booksGenreId,:value => "001004" %>
      <%= f.hidden_field :outOfStockFlag,:value => "1" %>

      <%= f.submit '検索', class:"row" %>
  <% end %>
</div>
