<h1>本の詳細</h1>
<%= link_to (image_tag(@book.image)), @book.url %>
<p><%= link_to '本のリンク', @book.url %></p>
<p><%= @book.title %></p>
<p><%= @book.author %></p>
<p><%= @book.publisher_name %></p>

<%= link_to "レビューを作成する", new_review_path(isbn: params[:isbn]) %>
