<h1>本の詳細</h1>
<%= link_to (image_tag(@book.image)), @book.url %>
<p><%= link_to '本のリンク', @book.url %></p>
<p><%= @book.title %></p>
<p><%= @book.author %></p>
<p><%= @book.publisher_name %></p>


<% check_book=Book.find_by(isbn: @book.isbn) %>
<% unless check_book && check_book.reviews.pluck(:user_id).include?(current_user.id) %>
  <%= link_to "レビューを作成する", new_another_review_path(isbn: params[:isbn]) %>
<% end %>
